<html>
    <head>
        <title>Welcome to {{ item.item.server_name }}!</title>
    </head>
    <body>
        <h1>Success! The {{ item.item.server_name }} server block is working!</h1>
    </body>
</html>
