user  {{ nginx_user }};

worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;


events {
    worker_connections {{ nginx_worker_connections }};
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
{% if nginx_log_formats is defined %}    
{% for formats in nginx_log_formats %}   
    log_format  {{ formats.name }} {{ formats.format }};
{% endfor %}
{% for configs in nginx_access_log_configs %}
    access_log {{ configs.path }} {{ configs.format_name }} {{ configs.options }};
{% endfor %}
{% else %}
    access_log  /var/log/nginx/access.log  combined;
{% endif %}

    sendfile {{ nginx_sendfile }};
    tcp_nopush {{ nginx_tcp_nopush }};
    tcp_nodelay {{ nginx_tcp_nodelay }};

    keepalive_timeout  {{ nginx_keepalive_timeout }};

    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};

    gzip  {{ nginx_gzip }};
    
    include {{ nginx_vhost_path }}/*.conf;
}

