my_ssh_public_key = "your_ssh_key"
my_ssh_private_key_file = "path/to/your/private.key"
do_token = "abcdefgh"
do_region = "nyc1"
domain_name = "yourdomain.name"
devs = "droplet-name"
vpn_user = "user"
vpn_password ="password"
vpn_ipsec_psk = "ipsec_psk_key"