output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    # index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    index => "logstash-%{+YYYY.MM.dd}"
  }
}
